header {
  align-items: center;
  background-color: #fff159;
  display: flex;
  padding: 5px 20%;
}

.logoImg {
  height: 70px;
}

.inputBusca {
  border-color: rgb(235, 235, 235);
  border-radius: 5px 0 0 5px;
  height: 25px;
  margin: 0 0 0 30px;
  width: 600px;
}

.botaoPesquisa {
  background-color: white;
  border-color: rgb(235, 235, 235);
  border-radius: 0 5px 5px 0;
  height: 30px;
  margin: 0 30px 0 0;
}

.lupa {
  align-items: center;
  height: 15px;
}

.shopping-cart-button {
  align-items: center;
  float: right;
  height: 30px;
}

.menu-nav {
  background-color: #fff159;
  border-color: #fff159;
  margin: 0;
  width: 200px;
}

.body {
  background-color: whitesmoke;
  box-sizing: border-box;
  display: flex;
}
