.card-image , .card-title , .card-price {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body {
  align-items: center;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 330px;
  margin: 3px;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 280px;
}

.card-image {
  margin: 0;
  padding: 0;
  top: 0;
  width: 160px;
}

.card-title {
  font-size: 18px;
  font-weight: 500;
  margin: 25px 0 5px;
  padding: 5px;
  width: 95%;
}

.card-price {
  font-size: 22px;
  margin: 0 0 5px;
  padding: 5px;
  width: 95%;
}

.product-add-to-cart {
  background-color: #3483fa;
  border-radius: 5px;
  color: white;
  margin: 0 15px;
  position: relative;
  top: 212px;
  visibility: hidden;
  width: 90%;
}

.card:hover .product-add-to-cart {
  visibility: visible;
}
